.course-slider-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;

  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    z-index: 10;
  }
  
  .prev-button {
    left: -50px;
  }
  
  .next-button {
    right: -50px;
  }
  
  .slider-button:hover {
    background-color: #0056b3;
  }
  