.container {
  position: relative;
  overflow: hidden;
  height: 100vh;  /* Full-screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin:20px;

}
.hero_con{
  /* background-color: black; */
  border:1px dotted black;
}

.content {
  position: relative;
  z-index: 2;  /* Make sure the content appears above the video */
}

.mid-logo {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #0056b3;
}
