/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
    border:2px dotted gray;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links a:hover {
    color: #f0a500;
  }
  
